body
{
	margin: 0;
	font-family: 'Arial Rounded MT', sans-serif;
	background: linear-gradient(180deg, #CAE294 0%, #FBFFE6 100%);
	background-attachment: fixed;
	height: 100vh;
}

.center-text
{
	text-align: center;
}

.cBody
{
	padding: 1vw;
}

.heading
{
	font-size: clamp(1em, 2vw, 4em);
	
}

.subtext
{
	font-size: clamp(0.5em, 1vw, 2em);
}

.maintext
{
	font-size: clamp(0.5em, 1vw, 2em);
}

.list-title
{
	font-weight: bold;
	font-size: clamp(1em, 2vw, 4em);
}

.list-description
{
	font-size: clamp(0.5em, 1vw, 2em);
}

.sidemargin
{
	margin-left: 3em;
	margin-right: 3em;
}

.spacer1
{
	height: 0.4vw;
}

.spacer2
{
	height: 0.2vw;
}

.spacer3
{
	height: 1vw;
}

.footer
{
	height: 5vw;
}

ul
{
	margin: 0;
}

.indent
{
	padding-left: 2em
}